.banner {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
.container__principal {
    width: 100vw;
    display: grid;
    grid-template-columns: 301px 1fr;
    grid-template-rows: 50% ;
    height: 100vh;
    .container__principal___curriculo {
      display: flex;
      flex-direction: column;
      align-items: center;
     .curriculo {
      padding: .8rem;
      margin-top: .4rem;
      background-color:  orangered;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        box-shadow: .3px .3px 15px orangered;
      }
     }
    }
}
.my__foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/1;
    border: 5px solid orangered;
    position: relative;

}

.apresentacao {
    color:white;
      grid-column: 2/2;
       grid-row: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
}
 h1 {
        color: white;
        margin-top: 1rem;
        text-align: start;
        font-weight: bold;
        font-size: 1.4rem;
        grid-column: 2/2;
        grid-row: 1/1;
        margin-bottom: 1rem;
    }

@media screen and (max-width:700px) {
  .container__principal {
    display: flex;
    flex-wrap: wrap;
  }
  .menu__ativo {
    display: block;
  }
  .cabecalho__nav {
    display: none;
  }
  .my__foto {
    height: 250px;
    width: 250px;
    margin-top: 2.2rem;
  }
  .apresentacao {
    min-width: 450px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }
  .section__projetos {
    justify-content: space-between;
    flex-direction: column;
    .project__title {
      position: relative;
      margin-bottom: .5rem;
      font-size: 2rem;
      display: block;
    }
  }
}