.section__projetos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.project__title {
    color:white;
    position: absolute;
    top:0;
    left:5px;
}
.project {
    max-width: 400px;
    display: flex;
    height: 350px;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    transition: ease-in-out;
    padding: .2rem;
    cursor: pointer;
    
}
.project:hover {
    transform: scale(1.1);
    margin: 25px;
}
.img__projeto {
    width: 100%;
    min-height: 200px;
}

.projeto__title{
    text-transform: uppercase;
    color: black;
}

.projeto__title, .projeto__desc{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 4px 0 ;
    padding: .8rem;
    text-align: start;
}

.projeto__desc {
    color:rgba(0, 0, 0, 0.712);
}

