
@import '_header';
@import '_main';
@import '_projetos';
@import '_footer';



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.init__hidden {
  opacity: 0; 
  transition: opacity 2s linear ;
}
.init__hidden___off {
  opacity: 1;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:black;

}
